.body-style{
    background-color: black;
}
.h1-heading {
    color: greenyellow;
    text-align: center;
}
.h2-heading {
    color: greenyellow;
    text-align: center;
}
.footer-style {
    position:absolute;
    bottom: 0;
    color: greenyellow;
}