<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
    <link rel="stylesheet" href="./static/style.css">
</head>
<body class="body-style">
    <h1 class="h1-heading">Hello {{name}}!</h1>
    <h2 class="h2-heading">Your seem to be a {{gender}}</h2>
    <h3 class="h2-heading">You are {{age}} years old!</h3>
</body>

<footer>
    <p class="footer-style">Copyright {{year}}</p>
</footer>